:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-hero: #FFFFFF;
    --hover-color: #2196F3;
    --button-color: #F5F4FA;
    --button-color-hover: #2196F3;
    --border-decoration: #EEEEEE
}

/* основной цвет текста #757575*/
/*цвет шрифта в шапке #212121*/
/*цвет шрифта героя #FFFFFF*/
/* цвет hover #2196F3*/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.page {
    background-color: var(--title-hero);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
}

.conteiner {
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
/*outline: 2px solid tomato;   */
    }

.logo {
    color: var(--title-text-color);
    text-decoration: none;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }
    
    .logo-footer{
        color: var(--title-hero);
        text-decoration: none;
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        }

    .logo-blue {
    color: var(--hover-color);
    }

/*стилизація шапки site-nav */
.main-nav {
    display: flex; /*вся шапка стає горизонтальною */
    align-items: center;

    border-bottom: 1px solid #ECECEC;
    }

.site-nav {
display: flex;
margin-left: 93px;
}

.site-nav .item:not(:last-child) {
margin-right: 50px;
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    
    color: var(--title-text-color);
        
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    } 

.contact {
    display: flex;
    margin-left: auto; /*прижимає флекс-бокс максимально вправо*/
    }
        
/*відступ між елементами за допомогою виключення попереднбого селектора*/
.contact .item + .item {
    margin-left: 30px;
    }


/*підкреслювання під навігацією*/
.line {
    position: relative;
    }
    
.line::after {
    content: '';
    position: absolute;
       
    
    bottom: -2px;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    
    opacity: 0;
    }
    
    .line:hover::after {
        opacity: 1;
    }

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-color);
    }

.section-conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
    }

    
/*оформлення контактів з ховером*/
.icon-defolt-mail {
    padding: 0;
    width: 161px;
    height: 16px;

    fill: var(--primary-text-color);
}

.icon-defolt-tel {
    padding: 0%;
    width: 142px;
    height: 16px;

    fill: var(--primary-text-color);
}

.hover-contact:hover {
    fill: #2196F3;
}

/*оформлення кнопок меню*/
.site-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-position:not(:last-child) {
    margin-right: 8px;
}

.button {
    color: var(--title-text-color);
    background-color: var(--button-color);
    text-decoration: none;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    
    padding: 6px 22px;
    display: inline-block;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    }
    
    .button:hover {
    color: var(--title-hero);
    background-color: var(--button-color-hover);
    }
   
/*оформлення секції галерея*/
.gallery-flexbox {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
/*
.gallery-flexbox .border-decoration {
Width: calc((100% - 60px) / 3);
margin-right: 30px;
margin-bottom: 30px;
}*/
.border-decoration {
    width: 372px;
    height: 404px;

    margin-bottom: 30px;
    
    border: 1px solid var(--border-decoration);

    cursor: pointer;
}

.border-decoration:nth-child(3n) {
margin-right: 0;
}

.border-decoration:nth-last-child(-n + 3) {
margin-bottom: 0;
}

.border-decoration:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery, .section-tittle {
color: var(--title-text-color);
text-decoration: none;

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

margin-top: 0;
margin-bottom: 4px;
}

.section-tittle {
    margin-left: 24px;
}

.section-text {
color: var(--primary-text-color);
text-decoration: none;
margin-left: 24px;

font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
}

/*ховер з текстом і прозорим фоном на карточках*/
.product-thumb {
    position: relative;
}

.product-actions {
    position: absolute;

    color: var(--title-hero);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;

    padding-top: 63px;
    padding-bottom: 170px;
    padding-left: 24px;
    padding-right: 24px;

    margin-top: 0%;
    margin-bottom: 0%;
    top: 0%;
    left: 0%;

    opacity: 0;
}

.product-thumb::before {
    content: '';

    position: absolute;
    display: inline-block;

    width: 372px;
    height: 294px;

    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;
}

.product-thumb:hover::before {
    opacity: 1;
}

.product-actions:hover {
    opacity: 1;
}

/*оформление подвала*/
.footer-padding {
    display: flex;

    background-color: #2F303A;
}

.block-address {
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.address {
display: flex;
flex-direction: column;
margin-top: 20px;

color: var(--title-hero);
font-weight: 400;
font-size: 14px;
line-height: 1.7;

letter-spacing: 0.03em;
}

.address-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/*оформленя блоку соцмережі*/
.network-block {
    margin-top: 72px;
    margin-bottom: 80px;
}

.footer-network {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: var(--title-hero);
}

.icon-block {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.icon-network{
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: center;
}

.icon-network:hover {
    background-color: var(--hover-color);
}

.footer-inst{
    background-image: url("../icon/instagram-footer.svg");
}

.footer-twit {
    background-image: url("../icon/twitter-footer\ 1.svg");
}

.footer-fb {
    background-image: url("../icon/facebook-footer.svg");
}

.footer-linc {
    background-image: url("../icon/linkedin-footer\ 1.svg");
}

/*модалка*/
.backdrob {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);;
}

.is-hiden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%);
}

.drop-window {
    position: absolute;
    width: 30px;
    height: 30px;

    top:8px;
    right: 8px;

    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.cross {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("../images-portfolio/Vector.svg");
}