:root {
    --background-color: #2F303A;
    --back-gackground-body: #E5E5E5;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-hero: #FFFFFF;
    --hover-color: #2196F3;
    --section-team-color: #F5F4FA;
    --border-color: #AFB1B8;
}

/* основной цвет текста #757575*/
/*цвет шрифта в шапке #212121*/
/*цвет шрифта героя #FFFFFF*/
/* цвет hover #2196F3*/

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    background-color: var(--title-hero);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*контейнер */
.conteiner {
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
/*outline: 2px solid tomato;   */
}

/*оформлення лого*/
.logo {
color: var(--title-text-color);
text-decoration: none;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.logo-footer{
color: var(--title-hero);
text-decoration: none;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.logo-blue {
color: var(--hover-color);
}

/*стилізація шапки site-nav */
.main-nav {
display: flex; /*вся шапка стає горизонтальною */
align-items: center;
border-bottom: 1px solid #ECECEC;

padding-left: auto;
}

.site-nav {
display: flex;
margin-left: 93px;
margin-top: 0;
margin-bottom: 0;
}

/*добавляю відступи між кнопками крім крайньої правої*/
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
padding-top: 32px;
padding-bottom: 32px;
display: block;

color: var(--title-text-color);
    
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
} 

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-color);
}

/*стилізація контактів в шапці*/
.contact .contact-link:hover,
.contact .contact-link:focus {
    color: var(--hover-color);
}

.contact-link {
padding-top: 32px;
padding-bottom: 32px;

color: var(--primary-text-color);

text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.contact {
display: inline-flex;
margin-left: auto; /*прижимає флекс-бокс максимально вправо*/
align-items: center;
}

/*відступ між елементами за допомогою виключення попереднбого селектора*/
.contact .item + .item {
margin-left: 50px;
}

/*добавляю іконки до контактів, не можу позицыонувати
правильно іконки*/
.icon-envelope::before {
    content: '';

    margin-right: 10px;
    display: inline-flex;
    width: 16px;
    height: 12px;

    background-image: url("../icon/envelope.svg");
    background-repeat: no-repeat;
}  

.icon-smartphone::before {
    content: '';

    margin-right: 10px;
    display: inline-flex;
    width: 10px;
    height: 16px;

    background-image: url("../icon/smartphone.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
   
/*оформлення бекграунда*/
.hero-background {
    max-width: 1600px; /*задаэмо фіксовану ширину*/
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;

    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), 
    rgba(47, 48, 58, 0.4)), url('/images/IMGbg_7336.jpg');
    /*background-size: cover;*/
    background-color: var(--background-color);
    background-position: 40% 50%;
}

/*оформлення героя*/
.hero-tittle {
    text-align: center;
} 

.hero {
    color: var(--title-hero);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 40px;
}


/*оформление кнопки*/
.button-hero {
    color: var(--title-hero);
    background-color: var(--hover-color);
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--hover-color); 
}

.button-hero:hover {
    color: var(--button-color-hover);
    background-color: var(--section-team-color);
    }

/*оформление заголовки и подзаголовки*/
.section-conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*оформлення секції benefits */
.benefits-list {
display: flex;
flex-wrap: wrap;
}

/*даємо розміри блоку та відступи між блоками */

/*за допомогою псевдоелемента добавляємо карточку 
з іконкою svg */
.benefits::before {
    content: ''; /*обовязково добавляємо це значення*/

    display: inline-block; /*по дефолту псевдоелементи є строчні, робимо з них блок*/
    width: 270px; /*задаємо ширину і висоту карточки*/
    height: 120px;
    border-radius: 4px; /*закруглюєм краї*/
    background-color: var(--section-team-color);
    margin-bottom: 30px;

    background-repeat: no-repeat; /*щоб не повторювалась */
    background-position: 100px 25px;
}

/*в кожну карточку добавляєм свою іконку для цього потрібно тегам
присвоїти класи де мають бути іконки */
.icon-group::before {
background-image: url('../images/Group.svg'); /*добавляємо іконку у форматі svg */ /*позиціонуємо ширина висота*/
}

.icon-clock::before {
    background-image: url('../images/clock\ 1.svg'); /*добавляємо іконку у форматі svg */
}

.icon-diagram::before {
    background-image: url('../images/diagram\ 1.svg'); /*добавляємо іконку у форматі svg */
}

.icon-astronaut::before {
    background-image: url('../images/astronaut\ 1.svg'); /*добавляємо іконку у форматі svg */
}

.benefits {
width: calc((100% - 90px) / 4);
margin-right: 30px;
}

/*забираємо маржен в 4го елемента */
.benefits:nth-child(4n) {
margin-right: 0;
}

.section-tittle-three {
    color: var(--title-text-color);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 10px;
}

/*оформление текста*/
.text {
 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    }

.conteiner-color {
    background-color: var(--section-team-color);
}

/*оформление секции портфолио*/
.conteiner-position {
padding-bottom: 94px;
}

.worklist-flex {
display: flex;
justify-content: space-between;
}

/*.worklist-flex .img-position:not(:last-child) {
width: calc((100% - 60px) / 3);
margin-right: 30px;
}*/

.section-tittle-two {
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

/*оформление секції команда*/
.flex-team {
display: flex;
justify-content: space-between;
}

.team-position {
    
width: 270px;
height: 428px;
    
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
    
text-align: center;
background-color: #FFFFFF;
}

.section-tittle {
margin-top: 30px;
margin-bottom: 10px;

color: var(--title-text-color);

font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}

.team {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
margin-top: 0;
}

/*іконки соцсіті*/
.network {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 16px;
}

.icon-static {
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50px;
    
}

.no-margin {
    margin-right: 0;
}

.icon-svg {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    margin: 12px 12px;
}

.icon-static:hover {
    background-color: #2196F3;
    
}

.icon-svg:hover {
    fill: #FFFFFF;
}

/*оформленя блоку "постійні клієнти"*/
.client {
    display: flex;
    justify-content: space-between;
}

.icon-defolt1 {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--border-color);
}

.icon-defolt1:hover {
    fill: #2196F3;
    border-color: #2196F3;
}

/*оформленя підвалу*/
.footer-padding {
    display: flex;

    background-color: #2F303A;
}

.block-address {
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.address {
display: flex;
flex-direction: column;
margin-top: 20px;

color: var(--title-hero);
font-weight: 400;
font-size: 14px;
line-height: 1.7;

letter-spacing: 0.03em;
}

.address-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/*оформленя блоку соцмережі*/
.network-block {
    margin-top: 72px;
    margin-bottom: 80px;
}

.footer-network {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: var(--title-hero);
}

.icon-block {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.icon-network{
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: center;
}

.icon-network:hover {
    background-color: var(--hover-color);
}

.footer-inst{
    background-image: url("../icon/instagram-footer.svg");
}

.footer-twit {
    background-image: url("../icon/twitter-footer\ 1.svg");
}

.footer-fb {
    background-image: url("../icon/facebook-footer.svg");
}

.footer-linc {
    background-image: url("../icon/linkedin-footer\ 1.svg");
}